:root{
  --dark-red: #a81b1d;
  --pink: #e87e82;
  --white: #fff;
  --background: #f5f5f5;
  --footer:
}
body{
  font-family: Quicksand;
}
.btn-pink, .btn-pink:visited{
  border: 2px solid var(--pink);
  background-color: var(--pink);
  color: var(--white);
}
.btn-pink:hover, .btn-pink:active{
  background-color: var(--white);
  border: 2px solid var(--pink);;
  color: var(--pink);
}
.heading-text{
  color: var(--dark-red);
}
.bg-gray{
  background-color: var(--background);
}
.icon{
  color:var(--white)
}